{
    "printWidth": 110,
    "trailingComma": "es5",
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false,
    "useTabs": false,
    "tabWidth": 2,
    "bracketSpacing": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "quoteProps": "consistent",
    "bracketSameLine": true,
    "semi": false,
    "jsxSingleQuote": true
}
